.card {
    width: 100%;
    height: 592px;
    padding: 24px;
    background-color: rgb(241, 241, 241);
    margin-right: 32px !important;
}

.img {
    width: 490px;
    height: 340px !important;
    margin-bottom: 24px;
}

.title {
    font-family: Montserrat, sans-serif !important;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    color: #272727;
    margin-bottom: 12px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text {
    font-family: Montserrat, sans-serif !important;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #525252;
    margin-bottom: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}